body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}
header, footer{
    background-color: aliceblue;
    text-align: center;
    padding: 20px;
}
nav{
    background-color: aliceblue;
    padding: 1px;
    text-align: center;
    
}
nav a{
    display: inline;
    text-decoration: none;
    color: black;
    margin-right: 10px;
}
main{
    width: 80%;
    margin: 20px auto;
}
.소개클래스{
    display: block;
    /*한 섹션이 끝날 때마다 엔터(줄바꿈) 처리*/

    margin-bottom: 20px;
    /*한 섹션이 끝날때마다 밑으로 20px 간격 추가*/
}
.소개클래스 .block{
   
    border: 2px solid #ccc;
    margin-bottom: 20px;
    padding: 20px;
}
section .block img{
    width: 200px;
    height: 200px;
}/*
.소개클래스 .block:first-child{
    background-color: lightpink;
}
.소개클래스 .block:last-child{
    background-color: aliceblue;
}
회사 역사가 들어있는 칸의 배경 색을 lightpick로 바꾸기
*/
.팀클래스{
    /*가로 중앙 정렬을 위한 스타일*/
    text-align: center;
    margin-bottom: 50px;
    
}
.팀클래스 .member{
    /*세로로 나뉘어진 div를 가로로 정렬*/
    display: inline-block;
    
    /*
    display에서 inline만 사용할 경우 가로길이 설정 x
    display에서 inline-block을 쓸 경우 가로 길이 설정 o 
    */
    width: 20%;
    padding: 15px;
    background-color: aliceblue;
    border: 2px solid #f2f2f2;
}
.팀클래스 .member img{
    /*팀클래스 밑에 있는 member의 밑에 있는 imng*/
    width: 100px;
    border-radius: 50%;
}
/*팀클래스 기준으로 h2 또한 자식이기 때문에 child(1)의 순서를 가짐*/
.팀클래스 .member:nth-child(2){
    background-color: rgb(139, 220, 220);
}
.팀클래스 .member:nth-child(3){
    background-color: lightpink;
}
.팀클래스 .member:nth-child(4){
    background-color: rgb(51, 128, 154);
}
.팀클래스 .member:nth-child(2):hover{
    /*hover는 마우스 커서를 올렸을 때 반응스타일. 맨 끝에 붙이면 됨
    모든 숫자에 동일한 디자인을 적용하길 원한다면 (n) */
    background-color: darkgreen;
    color: white;
    font-weight: bold;
    text-shadow: 0 0 15px white;
   /* box-shadow: 0 0 15px white; => 테두리가 없어서 사용 불가*/
}
.fixedbutton{
    border: 3px solid blue;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: white;

}
a{
    text-align: center;
    display: block;
    line-height: 30px;
    text-decoration: none;
    font-size: bold;
    color: black;
}